<header>
    <h3>Login</h3>
    <span>Ingresa tus datos para iniciar sesión</span>
</header>

<form class='card p-3 mt-4' action='/login' method="POST">
    <div class='mb-3'>
        <label class='form-label'>Email</label>
        <input type='email' class='form-control' name='email' placeholder="user@email.com" />
    </div>
    <div class='mb-3'>
        <label class='form-label'>Password</label>
        <input type='password' class='form-control' name='password' placeholder="password" />
    </div>
    <button type='submit' class='btn btn-primary'>Iniciar sesión</button>
</form>

{{#if error}}
<span class='p-3 bg-danger text-white mt-4 rounded d-block'>
    {{error}}
</span>
{{/if}}